header
	nav(class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="margin-bottom:0px")
		div.container-fluid
			div.navbar-header
				ul(class="nav nav-pills" style="margin:5px")
					li.active 
						a(href="/envs") Revit Extractor Testing Home
					li.dropdown
						a(id="drop4" role="button" data-toggle="dropdown" href="#") Branches
							b.caret
						ul(id="menu1" class="dropdown-menu" role="menu" aria-labelledby="drop4")
							each env in envs
								li(role="presentation")
									a(role="meanuitem" tabindex="-1" href='/env/#{env.id}')= env.name
					li.dropdown
						a(id="drop2" role="button" data-toggle="dropdown" href="#") Management Tools
							b.caret
						ul(id="menu2" class="dropdown-menu" role="menu" aria-labelledby="drop2")
							li(role="presentation")
								a(role="meanuitem" tabindex="-1" href='/suites') Suites
							li(role="presentation")
								a(role="meanuitem" tabindex="-1" href='/banchmarks') Banchmarks
			div(class="nav navbar-nav navbar-right")
				ul(class="nav nav-pills" style="margin:5px")
					li
						a(class="button primary" href="/join") Sign up
					li
						a(class="button signin" href="/login") Sign in
