doctype html
html
	head
		script(src='/jquery-ui-1.10.4.custom/js/jquery-1.10.2.js')
		script(src='/jquery-ui-1.10.4.custom/js/jquery-ui-1.10.4.custom.js')
		link(rel='stylesheet' href='/jquery-ui-1.10.4.custom/css/ui-lightness/jquery-ui-1.10.4.custom.css')
		link(rel='stylesheet', href='/bootstrap-3.1.1-dist/css/bootstrap.min.css')
		link(rel='stylesheet', href='/bootstrap-3.1.1-dist/css/bootstrap-theme.min.css')
		script(src='/bootstrap-3.1.1-dist/js/bootstrap.min.js')
		
		link(rel = 'stylesheet', href = '/style.css')
		script(src="/socket.io/socket.io.js")

		script(src='fileupload/js/vendor/jquery.ui.widget.js')
		script(src='fileupload/js/jquery.iframe-transport.js')
		script(src='fileupload/js/jquery.fileupload.js')
		link(rel = 'stylesheet', href = 'd3/sequences.css')
	header
		include ../../../includes/head
	body(style="width:100%")
		h2 Upload package for Testing
		input(type="file" id="packageupload" webkitdirectory directory data-url="http://"+ hostIP + ":8888/server/node/")
		div(id="progress-export-zip")
			div.progress-label

		h2 Testing Jobs
		ul(class="nav nav-tabs" role="tablist")
			li.active
				a(href="#inactive" role="tab" data-toggle="tab") Queued 
					span(id="queued_count" class="label label-default") 0
			li
				a(href="#active" role="tab" data-toggle="tab") Active 
					span(id="active_count" class="label label-primary") 0
			li
				a(href="#failed" role="tab" data-toggle="tab") Failed 
					span(id="failed_count" class="label label-danger") 0
			li
				a(href="#complete" role="tab" data-toggle="tab") Complete 
					span(id="complete_count" class="label label-success") 0
			li
				a(href="#delayed" role="tab" data-toggle="tab") Delayed 
					span(id="delayed_count" class="label label-warning") 0
		div.tab-content
		div(class="tab-pane active" id="jobsTable" style="min-width:1100px")
			table(class="table table-hover")
				thead
					tr
						th Type
						th Priority
						th Owner
						th Job name
						th Tests
						th All | Pass | Abort | Failed
						th Progress
						th Actions
		div(class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
			div.modal-dialog
				div(class="modal-content" style="min-width:700px;")
					div.modal-header
						button(type="button" class="close" data-dismiss="modal" aria-hidden="true")&times;
						h4(class="modal-title" id="myModalLabel") Result
							span(id="result_title" class="label label-primary" style="margin-left:50px;padding:10px;")
					div.modal-body
						ul(class="nav nav-tabs" role="tablist")
							li.active
								a(href="#tab_console" role="tab" data-toggle="tab") console
							li
								a(href="#tab_perf" role="tab" data-toggle="tab") Performance
						div(class="tab-content" style="min-height:600px")
							div(class="tab-pane active" id="tab_console")
							div(class="tab-pane" id="tab_perf")
								div#main
									div#sequence
									div#chart
										div(id="explanation" style="visibility: hidden;")
											span#percentage
											br
											span#time
								div#sidebar
									input(type="checkbox" id="togglelegend") Legend
									br
									div(id="legend" style="visibility: hidden;")
							div(class="btn-group dropup" style="position:absolute;left:50px;top:600px")
								button(type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown") Select
									span.caret
								ul(class="dropdown-menu" role="menu")
								div.casetitle
					div.modal-footer
						button(type="button" class="btn btn-default" data-dismiss="modal") close

	script(src='zip/zip.js')
	script(src='zip/zip-fs.js')
	script(src='zip/mime-types.js')
	script(src='js/main.js')
	script(src="d3/d3.js")	
	script(src="d3/sequences.js")