doctype html
html
	head
		script(src='/jquery-ui-1.10.4.custom/js/jquery-1.10.2.js')
		script(src='/jquery-ui-1.10.4.custom/js/jquery-ui-1.10.4.custom.js')
		link(rel='stylesheet' href='/jquery-ui-1.10.4.custom/css/ui-lightness/jquery-ui-1.10.4.custom.css')
		link(rel='stylesheet', href='/bootstrap-3.1.1-dist/css/bootstrap.min.css')
		link(rel='stylesheet', href='/bootstrap-3.1.1-dist/css/bootstrap-theme.min.css')
		script(src='/bootstrap-3.1.1-dist/js/bootstrap.min.js')
		
		link(rel = 'stylesheet', href = '/style.css')
		script(src="/socket.io/socket.io.js")

		script(src='jQueryFileUpload/js/vendor/jquery.ui.widget.js')
		script(src='jQueryFileUpload/js/jquery.iframe-transport.js')
		script(src='jQueryFileUpload/js/jquery.fileupload.js')
	header
		nav(class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="margin-bottom:0px")
			div.container-fluid
				ul(class="nav nav-pills" style="margin:5px")
					li.active 
						a Revit Extractor Testing
					li.dropdown
						a(id="drop4" role="button" data-toggle="dropdown" href="#") Branches
							b.caret
						ul(id="menu1" class="dropdown-menu" role="menu" aria-labelledby="drop4")
							each env in envs
								li(role="presentation")
									a(role="meanuitem" tabindex="-1" href='/env/#{env.id}')= env.name

	body
		h2 Upload package for Testing
		input(type="file" id="packageupload" webkitdirectory directory data-url="http://localhost:8888/server/node/")
		div(id="progress-export-zip")
			div.progress-label

		h2 Testing Jobs
		table(id="jobsTable", class="table table-hover")
			thead
				tr
					th Owner
					th Job name
					th Tests
					th All | Pass | Abort | Failed
					th Progress

	script(src='zip/zip.js')
	script(src='zip/zip-fs.js')
	script(src='zip/mime-types.js')
	script(src='js/main.js')